In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv('../Datasets/Boston/train.csv')
test_df = pd.read_csv('../Datasets/Boston/test.csv')

In [3]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test_df['SalePrice'] = -1234

In [5]:
#feature engineering process1 
#Remove all the null and missing values and convert string to numerical and continue
#finding all the missing values in rows and remove

train_df = train_df.dropna(axis=1,how='all')
df = pd.concat((train_df, test_df), axis = 0)

In [6]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,-1234
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,-1234
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,-1234
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,-1234
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,-1234

In [7]:
#feature engineering process1 
#Remove all the null and missing values and convert string to numerical and continue
#finding all the missing cols
df.columns[df.isnull().any()]

Index(['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Electrical', 'BsmtFullBath',
       'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu',
       'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType'],
      dtype='object')

In [8]:
df[df.SalePrice != -1234].columns.isnull().any()

False

In [9]:
df.loc[:, df.dtypes == object].count()

MSZoning         2915
Street           2919
Alley             198
LotShape         2919
LandContour      2919
Utilities        2917
LotConfig        2919
LandSlope        2919
Neighborhood     2919
Condition1       2919
Condition2       2919
BldgType         2919
HouseStyle       2919
RoofStyle        2919
RoofMatl         2919
Exterior1st      2918
Exterior2nd      2918
MasVnrType       2895
ExterQual        2919
ExterCond        2919
Foundation       2919
BsmtQual         2838
BsmtCond         2837
BsmtExposure     2837
BsmtFinType1     2840
BsmtFinType2     2839
Heating          2919
HeatingQC        2919
CentralAir       2919
Electrical       2918
KitchenQual      2918
Functional       2917
FireplaceQu      1499
GarageType       2762
GarageFinish     2760
GarageQual       2760
GarageCond       2760
PavedDrive       2919
PoolQC             10
Fence             571
MiscFeature       105
SaleType         2918
SaleCondition    2919
dtype: int64

In [10]:
for i in df.loc[:, df.dtypes == object]:
    print(df[i].unique())
    freq_map = df[i].value_counts().to_dict()
    print(freq_map)
    df[i] = df[i].map(freq_map)

['RL' 'RM' 'C (all)' 'FV' 'RH' nan]
{'RL': 2265, 'RM': 460, 'FV': 139, 'RH': 26, 'C (all)': 25}
['Pave' 'Grvl']
{'Pave': 2907, 'Grvl': 12}
[nan 'Grvl' 'Pave']
{'Grvl': 120, 'Pave': 78}
['Reg' 'IR1' 'IR2' 'IR3']
{'Reg': 1859, 'IR1': 968, 'IR2': 76, 'IR3': 16}
['Lvl' 'Bnk' 'Low' 'HLS']
{'Lvl': 2622, 'HLS': 120, 'Bnk': 117, 'Low': 60}
['AllPub' 'NoSeWa' nan]
{'AllPub': 2916, 'NoSeWa': 1}
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
{'Inside': 2133, 'Corner': 511, 'CulDSac': 176, 'FR2': 85, 'FR3': 14}
['Gtl' 'Mod' 'Sev']
{'Gtl': 2778, 'Mod': 125, 'Sev': 16}
['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
{'NAmes': 443, 'CollgCr': 267, 'OldTown': 239, 'Edwards': 194, 'Somerst': 182, 'NridgHt': 166, 'Gilbert': 165, 'Sawyer': 151, 'NWAmes': 131, 'SawyerW': 125, 'Mitchel': 114, 'BrkSide': 108, 'Crawfor': 103, 'IDOTRR': 93, 'Timber': 72, 'NoRidge': 71, 'StoneBr': 51, 'SWISU': 48, 'ClearCr': 44, 'MeadowV': 37, 'BrDale': 30, 'Blmngtn': 28, 'Veenker': 24, 'NPkVill': 23, 'Blueste': 10}
['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
{'Norm': 2511, 'Feedr': 164, 'Artery': 92, 'RRAn': 50, 'PosN': 39, 'RRAe': 28, 'PosA': 20, 'RRNn': 9, 'RRNe': 6}
['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
{'Norm': 2889, 'Feedr': 13, 'Artery': 5, 'PosN': 4, 'PosA': 4, 'RRNn': 2, 'RRAn': 1, 'RRAe': 1}
['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
{'1Fam': 2425, 'TwnhsE': 227, 'Duplex': 109, 'Twnhs': 96, '2fmCon': 62}
['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
{'1Story': 1471, '2Story': 872, '1.5Fin': 314, 'SLvl': 128, 'SFoyer': 83, '2.5Unf': 24, '1.5Unf': 19, '2.5Fin': 8}
['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
{'Gable': 2310, 'Hip': 551, 'Gambrel': 22, 'Flat': 20, 'Mansard': 11, 'Shed': 5}
['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
{'CompShg': 2876, 'Tar&Grv': 23, 'WdShake': 9, 'WdShngl': 7, 'Roll': 1, 'ClyTile': 1, 'Metal': 1, 'Membran': 1}
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock' nan]
{'VinylSd': 1025, 'MetalSd': 450, 'HdBoard': 442, 'Wd Sdng': 411, 'Plywood': 221, 'CemntBd': 126, 'BrkFace': 87, 'WdShing': 56, 'AsbShng': 44, 'Stucco': 43, 'BrkComm': 6, 'AsphShn': 2, 'CBlock': 2, 'Stone': 2, 'ImStucc': 1}
['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock' nan]
{'VinylSd': 1014, 'MetalSd': 447, 'HdBoard': 406, 'Wd Sdng': 391, 'Plywood': 270, 'CmentBd': 126, 'Wd Shng': 81, 'Stucco': 47, 'BrkFace': 47, 'AsbShng': 38, 'Brk Cmn': 22, 'ImStucc': 15, 'Stone': 6, 'AsphShn': 4, 'CBlock': 3, 'Other': 1}
['BrkFace' 'None' 'Stone' 'BrkCmn' nan]
{'None': 1742, 'BrkFace': 879, 'Stone': 249, 'BrkCmn': 25}
['Gd' 'TA' 'Ex' 'Fa']
{'TA': 1798, 'Gd': 979, 'Ex': 107, 'Fa': 35}
['TA' 'Gd' 'Fa' 'Po' 'Ex']
{'TA': 2538, 'Gd': 299, 'Fa': 67, 'Ex': 12, 'Po': 3}
['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
{'PConc': 1308, 'CBlock': 1235, 'BrkTil': 311, 'Slab': 49, 'Stone': 11, 'Wood': 5}
['Gd' 'TA' 'Ex' nan 'Fa']
{'TA': 1283, 'Gd': 1209, 'Ex': 258, 'Fa': 88}
['TA' 'Gd' nan 'Fa' 'Po']
{'TA': 2606, 'Gd': 122, 'Fa': 104, 'Po': 5}
['No' 'Gd' 'Mn' 'Av' nan]
{'No': 1904, 'Av': 418, 'Gd': 276, 'Mn': 239}
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
{'Unf': 851, 'GLQ': 849, 'ALQ': 429, 'Rec': 288, 'BLQ': 269, 'LwQ': 154}
['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
{'Unf': 2493, 'Rec': 105, 'LwQ': 87, 'BLQ': 68, 'ALQ': 52, 'GLQ': 34}
['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
{'GasA': 2874, 'GasW': 27, 'Grav': 9, 'Wall': 6, 'OthW': 2, 'Floor': 1}
['Ex' 'Gd' 'TA' 'Fa' 'Po']
{'Ex': 1493, 'TA': 857, 'Gd': 474, 'Fa': 92, 'Po': 3}
['Y' 'N']
{'Y': 2723, 'N': 196}
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
{'SBrkr': 2671, 'FuseA': 188, 'FuseF': 50, 'FuseP': 8, 'Mix': 1}
['Gd' 'TA' 'Ex' 'Fa' nan]
{'TA': 1492, 'Gd': 1151, 'Ex': 205, 'Fa': 70}
['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev' nan]
{'Typ': 2717, 'Min2': 70, 'Min1': 65, 'Mod': 35, 'Maj1': 19, 'Maj2': 9, 'Sev': 2}
[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
{'Gd': 744, 'TA': 592, 'Fa': 74, 'Po': 46, 'Ex': 43}
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
{'Attchd': 1723, 'Detchd': 779, 'BuiltIn': 186, 'Basment': 36, '2Types': 23, 'CarPort': 15}
['RFn' 'Unf' 'Fin' nan]
{'Unf': 1230, 'RFn': 811, 'Fin': 719}
['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
{'TA': 2604, 'Fa': 124, 'Gd': 24, 'Po': 5, 'Ex': 3}
['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
{'TA': 2654, 'Fa': 74, 'Gd': 15, 'Po': 14, 'Ex': 3}
['Y' 'N' 'P']
{'Y': 2641, 'N': 216, 'P': 62}
[nan 'Ex' 'Fa' 'Gd']
{'Gd': 4, 'Ex': 4, 'Fa': 2}
[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
{'MnPrv': 329, 'GdPrv': 118, 'GdWo': 112, 'MnWw': 12}
[nan 'Shed' 'Gar2' 'Othr' 'TenC']
{'Shed': 95, 'Gar2': 5, 'Othr': 4, 'TenC': 1}
['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth' nan]
{'WD': 2525, 'New': 239, 'COD': 87, 'ConLD': 26, 'CWD': 12, 'ConLI': 9, 'ConLw': 8, 'Oth': 7, 'Con': 5}
['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']
{'Normal': 2402, 'Partial': 245, 'Abnorml': 190, 'Family': 46, 'Alloca': 24, 'AdjLand': 12}

In [11]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,2265.0,65.0,8450,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,2,2008,2525.0,2402,208500
1,2,20,2265.0,80.0,9600,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,5,2007,2525.0,2402,181500
2,3,60,2265.0,68.0,11250,2907,NaN,968,2622,2916.0,...,0,NaN,NaN,NaN,0,9,2008,2525.0,2402,223500
3,4,70,2265.0,60.0,9550,2907,NaN,968,2622,2916.0,...,0,NaN,NaN,NaN,0,2,2006,2525.0,190,140000
4,5,60,2265.0,84.0,14260,2907,NaN,968,2622,2916.0,...,0,NaN,NaN,NaN,0,12,2008,2525.0,2402,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,460.0,21.0,1936,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,6,2006,2525.0,2402,-1234
1455,2916,160,460.0,21.0,1894,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,4,2006,2525.0,190,-1234
1456,2917,20,2265.0,160.0,20000,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,9,2006,2525.0,190,-1234
1457,2918,85,2265.0,62.0,10441,2907,NaN,1859,2622,2916.0,...,0,NaN,329.0,95.0,700,7,2006,2525.0,2402,-1234
1458,2919,60,2265.0,74.0,9627,2907,NaN,1859,2622,2916.0,...,0,NaN,NaN,NaN,0,11,2006,2525.0,2402,-1234

In [12]:
df.drop(["Alley", "PoolQC", "Fence", "MiscFeature"], inplace = True, axis = 1)

In [13]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,2265.0,65.0,8450,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,2,2008,2525.0,2402,208500
1,2,20,2265.0,80.0,9600,2907,1859,2622,2916.0,85,...,0,0,0,0,0,5,2007,2525.0,2402,181500
2,3,60,2265.0,68.0,11250,2907,968,2622,2916.0,2133,...,0,0,0,0,0,9,2008,2525.0,2402,223500
3,4,70,2265.0,60.0,9550,2907,968,2622,2916.0,511,...,272,0,0,0,0,2,2006,2525.0,190,140000
4,5,60,2265.0,84.0,14260,2907,968,2622,2916.0,85,...,0,0,0,0,0,12,2008,2525.0,2402,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,460.0,21.0,1936,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,6,2006,2525.0,2402,-1234
1455,2916,160,460.0,21.0,1894,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,4,2006,2525.0,190,-1234
1456,2917,20,2265.0,160.0,20000,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,9,2006,2525.0,190,-1234
1457,2918,85,2265.0,62.0,10441,2907,1859,2622,2916.0,2133,...,0,0,0,0,700,7,2006,2525.0,2402,-1234
1458,2919,60,2265.0,74.0,9627,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,11,2006,2525.0,2402,-1234

In [14]:
Train = df[df.SalePrice != -1234]

In [15]:
Train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,2265.0,65.0,8450,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,2,2008,2525.0,2402,208500
1,2,20,2265.0,80.0,9600,2907,1859,2622,2916.0,85,...,0,0,0,0,0,5,2007,2525.0,2402,181500
2,3,60,2265.0,68.0,11250,2907,968,2622,2916.0,2133,...,0,0,0,0,0,9,2008,2525.0,2402,223500
3,4,70,2265.0,60.0,9550,2907,968,2622,2916.0,511,...,272,0,0,0,0,2,2006,2525.0,190,140000
4,5,60,2265.0,84.0,14260,2907,968,2622,2916.0,85,...,0,0,0,0,0,12,2008,2525.0,2402,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,2265.0,62.0,7917,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,8,2007,2525.0,2402,175000
1456,1457,20,2265.0,85.0,13175,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,2,2010,2525.0,2402,210000
1457,1458,70,2265.0,66.0,9042,2907,1859,2622,2916.0,2133,...,0,0,0,0,2500,5,2010,2525.0,2402,266500
1458,1459,20,2265.0,68.0,9717,2907,1859,2622,2916.0,2133,...,112,0,0,0,0,4,2010,2525.0,2402,142125
1459,1460,20,2265.0,75.0,9937,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,6,2008,2525.0,2402,147500

In [16]:
Test = df[df.SalePrice == -1234]

In [17]:
Test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,26.0,80.0,11622,2907,1859,2622,2916.0,2133,...,0,0,120,0,0,6,2010,2525.0,2402,-1234
1,1462,20,2265.0,81.0,14267,2907,968,2622,2916.0,511,...,0,0,0,0,12500,6,2010,2525.0,2402,-1234
2,1463,60,2265.0,74.0,13830,2907,968,2622,2916.0,2133,...,0,0,0,0,0,3,2010,2525.0,2402,-1234
3,1464,60,2265.0,78.0,9978,2907,968,2622,2916.0,2133,...,0,0,0,0,0,6,2010,2525.0,2402,-1234
4,1465,120,2265.0,43.0,5005,2907,968,120,2916.0,2133,...,0,0,144,0,0,1,2010,2525.0,2402,-1234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,460.0,21.0,1936,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,6,2006,2525.0,2402,-1234
1455,2916,160,460.0,21.0,1894,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,4,2006,2525.0,190,-1234
1456,2917,20,2265.0,160.0,20000,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,9,2006,2525.0,190,-1234
1457,2918,85,2265.0,62.0,10441,2907,1859,2622,2916.0,2133,...,0,0,0,0,700,7,2006,2525.0,2402,-1234
1458,2919,60,2265.0,74.0,9627,2907,1859,2622,2916.0,2133,...,0,0,0,0,0,11,2006,2525.0,2402,-1234

In [18]:
Features = Train.iloc[:,:-1]

In [19]:
labels = Train.iloc[:,-1]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(Features, labels, test_size=0.20, random_state=42)

In [21]:
X_train.shape

(1168, 76)

In [22]:
y_train.shape

(1168,)

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import GridSearchCV

In [24]:

from sklearn.dummy import DummyClassifier

In [25]:

dummy_model = DummyClassifier(strategy="most_frequent")
dummy_model.fit(X_train, y_train)
dummy_model.score(X_test, y_test)

0.017123287671232876

In [26]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
regressor.score(X_test,y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').