In [1]:
import pandas as pd

In [46]:
import numpy as np

In [16]:
df = pd.read_csv("../Datasets/houses_to_rent.csv")

In [17]:
df

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [18]:
df.animal.unique()

array(['acept', 'not acept'], dtype=object)

In [19]:
df.furniture.unique()

array(['furnished', 'not furnished'], dtype=object)

In [20]:
# categorical data
# Define categorical variables
df['animal'] = pd.Categorical(df['animal'])
df['furniture'] = pd.Categorical(df['furniture'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
Unnamed: 0        6080 non-null int64
city              6080 non-null int64
area              6080 non-null int64
rooms             6080 non-null int64
bathroom          6080 non-null int64
parking spaces    6080 non-null int64
floor             6080 non-null object
animal            6080 non-null category
furniture         6080 non-null category
hoa               6080 non-null object
rent amount       6080 non-null object
property tax      6080 non-null object
fire insurance    6080 non-null object
total             6080 non-null object
dtypes: category(2), int64(6), object(6)
memory usage: 582.2+ KB

In [22]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [25]:
def convert(col):
    ret = list()
    for i in col:
        if type(i) == int:
            ret.append(i)
        else:
            i = i.replace('R$','')
            if "," in i:
                i = i.replace(',','')
            if "-" in i:
                i = i.replace('-',"0")
            if i in ["Sem info", "Incluso"]:
                i = 0
            ret.append(i)
    return(ret)

In [26]:
df["hoa"] = convert(df["hoa"])
df["rent amount"] = convert(df["rent amount"])
df["property tax"] = convert(df["property tax"])
df["fire insurance"] = convert(df["fire insurance"])
df["total"] = convert(df["total"])
df["floor"] = convert(df["floor"])

In [27]:
df

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,0,acept,furnished,0,8000,1000,121,9121
1,1,0,64,2,1,1,10,acept,not furnished,540,820,122,11,1493
2,2,1,443,5,5,4,3,acept,furnished,4172,7000,1417,89,12680
3,3,1,73,2,2,1,12,acept,not furnished,700,1250,150,16,2116
4,4,1,19,1,1,0,0,not acept,not furnished,0,1200,41,16,1257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,420,1150,0,15,1585
6076,6076,1,84,2,2,1,16,not acept,furnished,768,2900,63,37,3768
6077,6077,0,48,1,1,0,13,acept,not furnished,250,950,42,13,1255
6078,6078,1,160,3,2,2,0,not acept,not furnished,0,3500,250,53,3803
6079,6079,1,60,2,1,1,4,acept,furnished,489,1900,0,25,2414

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
Unnamed: 0        6080 non-null int64
city              6080 non-null int64
area              6080 non-null int64
rooms             6080 non-null int64
bathroom          6080 non-null int64
parking spaces    6080 non-null int64
floor             6080 non-null int64
animal            6080 non-null category
furniture         6080 non-null category
hoa               6080 non-null int64
rent amount       6080 non-null int64
property tax      6080 non-null int64
fire insurance    6080 non-null int64
total             6080 non-null int64
dtypes: category(2), int64(12)
memory usage: 582.2 KB

In [28]:
df["hoa"] = df["hoa"].astype('int64')
df["rent amount"] = df["rent amount"].astype('int64')
df["property tax"] = df["property tax"].astype('int64')
df["fire insurance"] = df["fire insurance"].astype('int64')
df["total"] = df["total"].astype('int64')
df["floor"] = df["floor"].astype('int64')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
Unnamed: 0        6080 non-null int64
city              6080 non-null int64
area              6080 non-null int64
rooms             6080 non-null int64
bathroom          6080 non-null int64
parking spaces    6080 non-null int64
floor             6080 non-null int64
animal            6080 non-null category
furniture         6080 non-null category
hoa               6080 non-null int64
rent amount       6080 non-null int64
property tax      6080 non-null int64
fire insurance    6080 non-null int64
total             6080 non-null int64
dtypes: category(2), int64(12)
memory usage: 582.2 KB

In [32]:
#Transform categorical variables into dummy variables
df = pd.get_dummies(df, drop_first=True)

In [33]:
df

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,hoa,rent amount,property tax,fire insurance,total,animal_not acept,furniture_not furnished
0,0,1,240,3,3,4,0,0,8000,1000,121,9121,0,0
1,1,0,64,2,1,1,10,540,820,122,11,1493,0,1
2,2,1,443,5,5,4,3,4172,7000,1417,89,12680,0,0
3,3,1,73,2,2,1,12,700,1250,150,16,2116,0,1
4,4,1,19,1,1,0,0,0,1200,41,16,1257,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,420,1150,0,15,1585,0,1
6076,6076,1,84,2,2,1,16,768,2900,63,37,3768,1,0
6077,6077,0,48,1,1,0,13,250,950,42,13,1255,0,1
6078,6078,1,160,3,2,2,0,0,3500,250,53,3803,1,1
6079,6079,1,60,2,1,1,4,489,1900,0,25,2414,0,0

In [41]:
Features = df.loc[:,df.columns != 'total']
labels =  df.loc[:,'total']

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, x_test, Y_train, y_test = train_test_split(Features,
                                                    labels,
                                                    test_size=0.2)

In [44]:

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error

In [47]:
lr = LinearRegression().fit(X_train,Y_train)
y_pred = lr.predict(x_test)
print('r2_score:',r2_score(y_test,y_pred))
print('rmse:',np.sqrt(mean_squared_error(y_test,y_pred)))

r2_score: 0.9999999134478336
rmse: 4.662686384982054

In [48]:
dt = DecisionTreeRegressor().fit(X_train,Y_train)
y_pred = dt.predict(x_test)
print('r2_score:',r2_score(y_test,y_pred))
print('rmse:',np.sqrt(mean_squared_error(y_test,y_pred)))

r2_score: 0.24028716915019477
rmse: 13814.079939408502

In [49]:
rf = RandomForestRegressor().fit(X_train,Y_train)
y_pred = rf.predict(x_test)
print('r2_score:',r2_score(y_test,y_pred))
print('rmse:',np.sqrt(mean_squared_error(y_test,y_pred)))

C:\Users\iad7kor\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

r2_score: 0.21614889566991013
rmse: 14031.820534375232